.idea
.springBeans
.settings
.classpath
.project
target
bin
src/main/resources/org/flexible/order/dropbox.properties
src/test/java/de/switajski/priebes/flexibleorders/integration/DropBoxSdkTest.java
